$primary-green: #328e6e;
$secondary-green: #67ae6e;
$third-green: #90c67c;
$fourth-green: #e1eebc;
$text-color: #ffffff;
$white: #ffffff;
$black: #000000;
$text-font: "Comic Sans MS", cursive, sans-serif;

.bgcolor {
  &--primary {
    background-color: $primary-green;
  }

  &--secondary {
    background-color: $secondary-green;
  }

  &--third {
    background-color: $third-green;
  }

  &--fourth {
    background-color: $fourth-green;
  }
  &--white {
    background-color: $white;
  }
  &--black {
    background-color: $black;
  }
}
.body {
  margin: 0;
  font-family: $text-font;
}

.header {
  margin: 0;
  margin-top: 0%;
  display: block;
  color: $text-color;
  &--center {
    text-align: center;
  }
  &__title {
    justify-content: center;
    font-family: $text-font;
    height: 2em;

    &--uppercase {
      text-transform: uppercase;
    }
  }
}

.nav {
  &__list {
    display: flex;
    justify-content: space-around;
    font-family: $text-font;
  }
  &__item {
    list-style: none;
    padding: 10px;
    border-radius: 50px;
    &:hover {
      background-color: $primary-green;
    }
  }
  &__link {
    color: $text-color;
    text-decoration: none;
  }
}
