$font-stack: Verdana, Geneva, Tahoma, sans-serif;
$bg-color1: #537d5d;
$bg-color2: #73946b;
$bg-color3: #9ebc8a;
$bg-color4: #d2d0a0;
$white: #ffffff;
$black: #000000;
$transition-bg: background-color 0.3s ease;
$box-shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hov: 0 2px 4px rgba(0, 0, 0, 0.1);